.inline-block {
    vertical-align: top;
}

.logo {
    display: inline;
    text-align: center;
    width: 23%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.navigation {
    background-color: #A8A38D;
    padding: 30px;
}

.nav-links {
    width: 50%;
    margin-left: auto;
    display: inline-block;
}

body {
    background-color: #E9E8E3;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #232A24;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: #232A24;
}

.right p {
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    float: left;
    width: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.right {
    float: right;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background-color: #78899B;
    display: inline-block;
    width: 100%;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.footer a {
    color: #232A24;
    text-align: center;
    padding: 20px;
}